/* <RadMenu / Simple> */

.RadMenu_Ayuntamiento ul.rmRootGroup,
.RadMenu_Ayuntamiento div.rmRootGroup
{
	padding: 1px 0;
	border: 1px solid #7d7d7d;
	background-color: #e3e3e3;
}

/* <Root items> */

.RadMenu_Ayuntamiento,
.RadMenu_Ayuntamiento a.rmLink
{
	font: normal 12px/19px "Segoe UI", Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_Ayuntamiento .rmItem a.rmLink
{
	padding: 1px 12px;
}

.RadMenu_Ayuntamiento .rmHorizontal a.rmLink .rmText
{
	padding-right: 0;
}

.RadMenu_Ayuntamiento a.rmRootLink .rmText
{
	padding-left: 0;
}

.RadMenu_Ayuntamiento_Context a.rmRootLink .rmText
{
	padding-left: 28px;
}

.RadMenu_Ayuntamiento ul.rmVertical .rmText
{
    padding-right: 30px;
}

.RadMenu_Ayuntamiento_rtl ul.rmVertical .rmText
{
    padding-left: 30px;
    padding-right: 0;
}

.RadMenu_Ayuntamiento .rmItem a.rmLink:hover,
.RadMenu_Ayuntamiento .rmItem a.rmFocused,
.RadMenu_Ayuntamiento .rmItem a.rmSelected
{
	background: #ffabb2;
	border: 1px solid #c91c2b;
	padding: 0 11px;
}

.RadMenu_Ayuntamiento .rmItem a.rmExpanded,
.RadMenu_Ayuntamiento .rmItem a.rmExpanded:hover
{
	background: #ff3849;
	border: 1px solid #c92836;
	padding: 0 11px;
}

.RadMenu_Ayuntamiento .rmItem a.rmDisabled,
.RadMenu_Ayuntamiento .rmItem a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
	border: 0;
	padding: 1px 12px;
}

.RadMenu_Ayuntamiento img.rmLeftImage,
.RadMenu_Ayuntamiento span.rmLeftImage
{
	margin: 2px 2px 0 0;
	padding-bottom: 3px;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Ayuntamiento .rmGroup,
.RadMenu_Ayuntamiento .rmMultiColumn,
.RadMenu_Ayuntamiento .rmGroup .rmVertical
{
	border: 1px solid #616161;
	background: #ffffff url('Menu/rmDropDownStripe.png') repeat-y -1px 0;
}

.RadMenu_Ayuntamiento .rmTopFix,
.RadMenu_Ayuntamiento .rmBottomFix,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmDropDownStripe.png');
	background-color: #ffffff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Ayuntamiento .rmGroup .rmItem,
* html .rmRoundedCorners_Ayuntamiento ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmDropDownStripe.png');
	background-color: #ffffff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Ayuntamiento .rmHorizontal .rmItem,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Ayuntamiento .rmRoundedCorners .rmGroupColumn
{
	background-color: #ffffff;
}

.RadMenu_Ayuntamiento .rmBottomLeft,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Ayuntamiento .rmRoundedCorners ul.rmGroup,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer,
* html .rmRoundedCorners_Ayuntamiento .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Ayuntamiento ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Ayuntamiento .rmTopRight,
.RadMenu_Ayuntamiento .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Ayuntamiento .rmTopFix,
.RadMenu_Ayuntamiento .rmBottomFix,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Ayuntamiento .rmGroup .rmFirst
{
	border-color: #616161;
}

.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

.RadMenu_Ayuntamiento li.rmTopFix,
.RadMenu_Ayuntamiento li.rmBottomFix
{
	background-position: -4px 0;
}

.RadMenu_Ayuntamiento_rtl .rmBottomLeft,
.RadMenu_Ayuntamiento_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Ayuntamiento_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Ayuntamiento .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Ayuntamiento_Context_rtl ul.rmGroup,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Ayuntamiento_rtl .rmTopRight,
.RadMenu_Ayuntamiento_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Ayuntamiento_rtl li.rmTopFix,
.RadMenu_Ayuntamiento_rtl li.rmBottomFix,
.RadMenu_Ayuntamiento_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Ayuntamiento_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Ayuntamiento .rmGroup .rmHorizontal
{
	background: #ffffff;
}

.RadMenu_Ayuntamiento .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Ayuntamiento_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Ayuntamiento .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmLink
{
	padding: 1px;
	margin: 1px 0;
}

.RadMenu_Ayuntamiento .rmGroup .rmItem .rmLeftImage
{
	margin: 2px 0 0 6px;
}

* html .RadMenu_Ayuntamiento .rmGroup .rmItem .rmLeftImage { margin: 2px 0 0 3px; }
*+html .RadMenu_Ayuntamiento .rmGroup .rmItem .rmLeftImage { margin: 2px 0 0 3px; }

.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmFocused,
.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmSelected,
.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmExpanded,
.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmExpanded:hover
{
	padding: 0;
}

.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmDisabled,
.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmDisabled:hover
{
	padding: 1px;
}

.RadMenu_Ayuntamiento .rmGroup .rmItem a.rmLink .rmText
{
	padding-right: 53px;
}

.RadMenu_Ayuntamiento .rmGroup .rmHorizontal a.rmLink .rmText
{
	padding-right: 10px;
}

.RadMenu_Ayuntamiento .rmVertical .rmExpandRight,
.RadMenu_Ayuntamiento .rmVertical .rmExpandLeft,
.RadMenu_Ayuntamiento .rmGroup .rmExpandRight,
.RadMenu_Ayuntamiento .rmGroup .rmExpandLeft,
.RadMenu_Ayuntamiento .rmTopArrow,
.RadMenu_Ayuntamiento .rmBottomArrow,
.RadMenu_Ayuntamiento .rmLeftArrow,
.RadMenu_Ayuntamiento .rmRightArrow
{
	background: transparent url('Menu/rmExpandArrows.png') no-repeat;
}

.RadMenu_Ayuntamiento .rmVertical .rmExpandRight,
.RadMenu_Ayuntamiento .rmGroup .rmExpandRight { background-position: 100% 0; }
.RadMenu_Ayuntamiento .rmVertical .rmExpandLeft,
.RadMenu_Ayuntamiento .rmGroup .rmExpandLeft { background-position: 0 -48px; }
.RadMenu_Ayuntamiento a.rmLink:hover .rmExpandRight,
.RadMenu_Ayuntamiento a.rmFocused .rmExpandRight,
.RadMenu_Ayuntamiento a.rmSelected .rmExpandRight,
.RadMenu_Ayuntamiento a.rmExpanded .rmExpandRight { background-position: 100% -24px; }
.RadMenu_Ayuntamiento a.rmLink:hover .rmExpandLeft,
.RadMenu_Ayuntamiento a.rmFocused .rmExpandLeft,
.RadMenu_Ayuntamiento a.rmSelected .rmExpandLeft,
.RadMenu_Ayuntamiento a.rmExpanded .rmExpandLeft { background-position: 0 -72px; }

.RadMenu_Ayuntamiento .rmTopArrow,
.RadMenu_Ayuntamiento .rmBottomArrow,
.RadMenu_Ayuntamiento .rmLeftArrow,
.RadMenu_Ayuntamiento .rmRightArrow
{
	background-color: #ffffff;
}

.RadMenu_Ayuntamiento .rmTopArrow
{
	border-bottom: 1px solid #616161;
	background-position: 50% -95px;
}

.RadMenu_Ayuntamiento .rmBottomArrow
{
	border-top: 1px solid #616161;
	background-position: 50% -109px;
}

.RadMenu_Ayuntamiento .rmLeftArrow
{
	border-right: 1px solid #616161;
	background-position: 50% -48px;
}

.RadMenu_Ayuntamiento .rmRightArrow
{
	border-left: 1px solid #616161;
	background-position: 50% 1px;
}

.RadMenu_Ayuntamiento .rmVertical li.rmSeparator,
.RadMenu_Ayuntamiento .rmHorizontal .rmVertical li.rmSeparator
{
	border-left: 0;
	border-right: 0;
}

.RadMenu_Ayuntamiento .rmVertical li.rmSeparator .rmText,
.RadMenu_Ayuntamiento .rmHorizontal .rmVertical li.rmSeparator .rmText
{
	background: #616161;
	padding-bottom: 1px;
	margin-top: 2px;
}

.RadMenu_Ayuntamiento .rmHorizontal li.rmSeparator .rmText,
.RadMenu_Ayuntamiento .rmVertical .rmHorizontal li.rmSeparator .rmText
{
	background: #616161;
	width: 1px;
	margin-left: 1px;
}

/* <rtl> */

.RadMenu_Ayuntamiento_rtl .rmGroup,
.RadMenu_Ayuntamiento_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Ayuntamiento_rtl .rmGroup .rmItem a.rmLink .rmText
{
	padding-left: 53px;
	padding-right: 27px;
}

.RadMenu_Ayuntamiento_rtl .rmGroup .rmHorizontal a.rmLink .rmText
{
	padding-left: 10px;
	padding-right: 9px;
}

/* </rtl> */

.RadMenu_Ayuntamiento .rmScrollWrap .rmVertical
{
	border: 0;
}

/* </RadMenu / Simple> */
