/* <RadMenu / Office2010Black> */

.RadMenu_Hipocrates .rmRootGroup,
.RadMenu_Hipocrates a.rmLink,
.RadMenu_Hipocrates .rmText,
.RadMenu_Hipocrates .rmLeftArrow,
.RadMenu_Hipocrates .rmRightArrow,
.RadMenu_Hipocrates .rmTopArrow,
.RadMenu_Hipocrates .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Hipocrates .rmRootGroup
{
	border: 1px solid #5e5e5e;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #f2f2f2;
}

/* <Root items> */

.RadMenu_Hipocrates,
.RadMenu_Hipocrates a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_Hipocrates a.rmLink,
.RadMenu_Hipocrates .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Hipocrates a.rmLink:hover,
.RadMenu_Hipocrates a.rmFocused,
.RadMenu_Hipocrates a.rmSelected
{
	color: #000000;
	background-position: 0 -72px;
}

.RadMenu_Hipocrates a.rmLink:hover .rmText,
.RadMenu_Hipocrates a.rmFocused .rmText,
.RadMenu_Hipocrates a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Hipocrates a.rmExpanded,
.RadMenu_Hipocrates a.rmExpanded:hover
{
	color: #000000;
	background-position: 0 -120px;
}

.RadMenu_Hipocrates a.rmExpanded .rmText,
.RadMenu_Hipocrates a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Hipocrates a.rmDisabled,
.RadMenu_Hipocrates a.rmDisabled:hover
{
	color: #5e5e5e;
}

.RadMenu_Hipocrates a.rmDisabled:hover,
.RadMenu_Hipocrates a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Hipocrates .rmGroup,
.RadMenu_Hipocrates .rmMultiColumn,
.RadMenu_Hipocrates .rmGroup .rmVertical
{
	border: 1px solid #99a390;
	background: #f5f5f5 url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Hipocrates .rmTopFix,
.RadMenu_Hipocrates .rmBottomFix,
.RadMenu_Hipocrates .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Hipocrates_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f5f5f5;
	background-repeat: repeat-y;
	background-position: -4px 0;
}

* html .rmRoundedCorners_Office2007 .rmGroup .rmItem,
* html .rmRoundedCorners_Office2007 ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f5f5f5;
	background-repeat: repeat-y;
	background-position: -4px 0;
}

.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrap .rmVertical
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Office2007 .rmHorizontal .rmItem,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Hipocrates .rmRoundedCorners .rmGroupColumn
{
	background-color: #f5f5f5;
}

.RadMenu_Hipocrates .rmBottomLeft,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Hipocrates_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Hipocrates .rmRoundedCorners ul.rmGroup,
.RadMenu_Hipocrates .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer,
* html .rmRoundedCorners_Office2007 .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Office2007 ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_Hipocrates .rmTopRight,
.RadMenu_Hipocrates .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_Hipocrates .rmTopFix,
.RadMenu_Hipocrates .rmBottomFix,
.RadMenu_Hipocrates .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Office2007 .rmGroup .rmFirst
{
	border-color: #99a390;
}

.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #f5f5f5;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomFix
{
	background: #f5f5f5;
}

.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f5f5f5;
	border: 0;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f5f5f5;
	border: 0;
}

.RadMenu_Hipocrates li.rmTopFix,
.RadMenu_Hipocrates li.rmBottomFix
{
	background-position: -5px 0;
}

.RadMenu_Hipocrates_rtl .rmBottomLeft,
.RadMenu_Hipocrates_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Hipocrates_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Hipocrates .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Hipocrates_Context_rtl ul.rmGroup,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Hipocrates_rtl .rmTopRight,
.RadMenu_Hipocrates_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Hipocrates_rtl li.rmTopFix,
.RadMenu_Hipocrates_rtl li.rmBottomFix,
.RadMenu_Hipocrates_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Hipocrates_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Hipocrates .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Hipocrates_rtl .rmGroup,
.RadMenu_Hipocrates_rtl .rmMultiColumn,
.RadMenu_Hipocrates_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Hipocrates .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Hipocrates .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Hipocrates .rmGroup .rmFirst,
.RadMenu_Hipocrates .rmGroup .rmLast,
.RadMenu_Hipocrates .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Hipocrates_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Office2007 .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Hipocrates .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Hipocrates .rmGroup a.rmLink:hover,
.RadMenu_Hipocrates .rmGroup a.rmFocused,
.RadMenu_Hipocrates .rmGroup a.rmSelected,
.RadMenu_Hipocrates .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Hipocrates .rmGroup a.rmLink:hover .rmText,
.RadMenu_Hipocrates .rmGroup a.rmFocused .rmText,
.RadMenu_Hipocrates .rmGroup a.rmSelected .rmText,
.RadMenu_Hipocrates .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Hipocrates .rmVertical .rmExpandRight,
.RadMenu_Hipocrates_Context .rmGroup .rmExpandRight,
.RadMenu_Hipocrates .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Hipocrates .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Hipocrates .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Hipocrates .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Hipocrates .rmVertical a.rmSelected .rmExpandLeft
{
	background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Hipocrates .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Hipocrates .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Hipocrates .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Hipocrates .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Hipocrates .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Hipocrates .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Hipocrates .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Hipocrates .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Hipocrates .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Hipocrates .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Hipocrates .rmGroup a.rmExpanded .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Hipocrates .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Hipocrates_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Hipocrates_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Hipocrates .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Hipocrates_rtl a.rmLink:hover,
.RadMenu_Hipocrates_rtl a.rmFocused,
.RadMenu_Hipocrates_rtl a.rmSelected
{
	background-position: 100% -96px;
}

.RadMenu_Hipocrates_rtl a.rmLink:hover .rmText,
.RadMenu_Hipocrates_rtl a.rmFocused .rmText,
.RadMenu_Hipocrates_rtl a.rmSelected .rmText
{
	background-position: 0 -72px;
}

.RadMenu_Hipocrates_rtl a.rmExpanded,
.RadMenu_Hipocrates_rtl a.rmExpanded:hover
{
	background-position: 100% -144px;
}

.RadMenu_Hipocrates_rtl a.rmExpanded .rmText,
.RadMenu_Hipocrates_rtl a.rmExpanded:hover .rmText
{
	background-position: 0 -120px;
}

.RadMenu_Hipocrates_rtl .rmGroup a.rmLink:hover,
.RadMenu_Hipocrates_rtl .rmGroup a.rmFocused,
.RadMenu_Hipocrates_rtl .rmGroup a.rmSelected,
.RadMenu_Hipocrates_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Hipocrates_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Hipocrates_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Hipocrates_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Hipocrates_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Hipocrates_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Hipocrates_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Hipocrates_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Hipocrates_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Hipocrates_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Hipocrates_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Hipocrates_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Hipocrates_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Hipocrates_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Hipocrates_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Hipocrates_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Hipocrates_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Hipocrates_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_Hipocrates .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Hipocrates .rmVertical .rmSlide,
.RadMenu_Hipocrates .rmSlide .rmSlide,
.RadMenu_Hipocrates_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Hipocrates_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Hipocrates_rtl .rmVertical .rmSlide,
.RadMenu_Hipocrates_rtl .rmSlide .rmSlide,
.RadMenu_Hipocrates_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Hipocrates .rmLeftArrow,
.RadMenu_Hipocrates .rmRightArrow
{
	background-color: #f5f5f5;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Hipocrates .rmLeftArrow,
.RadMenu_Hipocrates .rmRightArrow
{
	background-color: #f5f5f5;
}

.RadMenu_Hipocrates .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #99a390; }
.RadMenu_Hipocrates .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #99a390; }

.RadMenu_Hipocrates .rmTopArrow,
.RadMenu_Hipocrates .rmBottomArrow,
.RadMenu_Hipocrates .rmGroup .rmLeftArrow,
.RadMenu_Hipocrates .rmGroup .rmRightArrow
{
	background-color: #f5f5f5;
}

.RadMenu_Hipocrates .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #99a390; }
.RadMenu_Hipocrates .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #99a390; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Hipocrates .rmVertical .rmSeparator .rmText,
.RadMenu_Hipocrates .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Hipocrates .rmHorizontal .rmSeparator .rmText,
.RadMenu_Hipocrates .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */
