body 
{
    background-color: #C2D197;
    margin: 0px 0px 0px 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
}

.label 
{
    vertical-align: top;
}

div.yolopuse
{
    padding: 5px 5px 0px 5px;
}

.btnGuardar
{
    vertical-align: middle;
}

div.yolopuse .bottom
{
    vertical-align: middle;
}
