body   
{
    background: #4b6c9e;
    font-size: .80em;
    font-family: Verdana; 
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    text-align:center;
}
