/* RadSocialShare Office2010Black Skin */

.RadSocialShare_Hipocrates
{
	border: 1px solid #2b2b2b;
	background-color: #4a4a4a;
}

.RadSocialShare_Hipocrates .sshLinkItem .sshText
{
	color: #e3e3e3;
}

.RadSocialShare_Hipocrates .sshLinkItem:hover .sshText
{
	color: #baff75;
}

.RadComboBoxDropDown_Hipocrates .rcbItem .sshLinkItem .sshText,
.RadComboBoxDropDown_Hipocrates .rcbHovered .sshLinkItem .sshText,
.RadWindow_Hipocrates .sshForm label .sshLabelBellow
{
	color: #000000;
}
