/* <RadToolBar / Default> */

.RadToolBar_Ayuntamiento .rtbOuter
{
	border: 1px solid #7d7d7d;
	background: #c7c7c7;
	padding: 1px;
}

/* <buttons> */

.RadToolBar_Ayuntamiento .rtbWrap,
.RadToolBar_Ayuntamiento .rtbTemplate
{
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
	color: #000000;
}

.RadToolBar_Ayuntamiento .rtbItem .rtbWrap
{
	padding: 3px;
}

.RadToolBar_Ayuntamiento .rtbItem .rtbMid,
.RadToolBar_Ayuntamiento .rtbItem .rtbIn
{
	padding: 0;
}

/* <button states> */

.RadToolBar_Ayuntamiento .rtbSplBtnFocused .rtbWrap,
.RadToolBar_Ayuntamiento .rtbItemFocused .rtbWrap,
.RadToolBar_Ayuntamiento .rtbItemHovered .rtbWrap
{
	padding: 2px;
	border: 1px solid #c91c2b;
	background: #ffabb2;
}

.RadToolBar_Ayuntamiento .rtbItemClicked .rtbWrap,
.RadToolBar_Ayuntamiento .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Ayuntamiento .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Ayuntamiento .rtbChecked .rtbWrap,
.RadToolBar_Ayuntamiento li.rtbChecked .rtbWrap:hover
{
	padding: 2px;
	border: 1px solid #c92836;
	background: #ff3849;
}

.RadToolBar_Ayuntamiento .rtbItemFocused .rtbWrap,
.RadToolBar_Ayuntamiento .rtbItemHovered .rtbWrap,
.RadToolBar_Ayuntamiento .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Ayuntamiento .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Ayuntamiento .rtbChecked .rtbWrap,
.RadToolBar_Ayuntamiento .rtbItemClicked .rtbWrap
{
	color: #8a131d;
}

/* </button states> */

/* <Drop Down Arrows> */

.RadToolBar_Ayuntamiento .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.png');
}

.RadToolBar_Ayuntamiento .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbExpandUp .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbUpArrows.png');
}

.RadToolBar_Ayuntamiento .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbClickedDropArrows.png');
}

.RadToolBar_Ayuntamiento .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Ayuntamiento .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.png');
}

/* </Drop Down Arrows> */

.RadToolBar_Ayuntamiento_Horizontal li.rtbSeparator 
{
	border: 0;
	margin-left: 1px;
	background: #5e5e5e;
}

.RadToolBar_Ayuntamiento_Vertical li.rtbSeparator
{
	border: 0;
	margin-top: 1px;
	background: #5e5e5e;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_Ayuntamiento .rtbDisabled .rtbWrap:hover,
.RadToolBar_Ayuntamiento .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Ayuntamiento .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Ayuntamiento .rtbDisabled .rtbWrap:hover .rtbIn
{
	background: none;
}

.RadToolBar_Ayuntamiento .rtbDisabled .rtbWrap { color: #878787\9; }

/* </disabled states */

/* <drop-down> */

/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Ayuntamiento .rtbTopFix,
.RadToolBarDropDown_Ayuntamiento .rtbBottomFix,
.RadToolBarDropDown_Ayuntamiento .rtbGroup
{
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-color: #ffffff;
	background-repeat: repeat-y;
    background-position: -1px 0;
}

.RadToolBarDropDown_Ayuntamiento div.rtbTopFix,
.RadToolBarDropDown_Ayuntamiento div.rtbBottomFix
{
    background-position: -2px 0;
}

.RadToolBarDropDown_Ayuntamiento .rtbBottomLeft,
.RadToolBarDropDown_Ayuntamiento .rtbRoundedCorners
{
	background-image:  url('ToolBar/rtbRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Ayuntamiento .rtbTopRight,
.RadToolBarDropDown_Ayuntamiento .rtbBottomRight
{
	background-image:  url('ToolBar/rtbRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Ayuntamiento .rtbTopFix,
.RadToolBarDropDown_Ayuntamiento .rtbBottomFix,
.RadToolBarDropDown_Ayuntamiento .rtbRoundedCorners .rtbFirst
{
	border-color: #828282;
}

.RadToolBarDropDown_Ayuntamiento_rtl .rtbBottomLeft,
.RadToolBarDropDown_Ayuntamiento_rtl .rtbRoundedCorners
{
	background-image: url('ToolBar/rtbRoundedLeft_rtl.png');
}

.RadToolBarDropDown_Ayuntamiento_rtl .rtbTopRight,
.RadToolBarDropDown_Ayuntamiento_rtl .rtbBottomRight
{
	background-image: url('ToolBar/rtbRoundedRight_rtl.png');
}

.RadToolBarDropDown_Ayuntamiento_rtl div.rtbTopFix,
.RadToolBarDropDown_Ayuntamiento_rtl div.rtbBottomFix,
.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup
{
	background-position: 101% 0;
}

/* </Drop Down rounded corners and shadows> */

div.RadToolBarDropDown_Ayuntamiento
{
	border-color: #828282;
	background-color: #ffffff;
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-position: -1px 0;
}

div.RadToolBarDropDown_Ayuntamiento_rtl
{
	background-position: 101% 0;
}

.RadToolBarDropDown_Ayuntamiento .rtbWrap,
.RadToolBarDropDown_Ayuntamiento .rtbTemplate
{
	font-weight: normal;
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #000000;
}

.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItem
{
	padding-left: 1px;
}

.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItem .rtbWrap
{
	padding: 1px 3px 1px 35px;
	margin-right: 1px;
	border: 0;
}

.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup .rtbItem .rtbWrap
{
	padding: 1px 35px 1px 3px;
}

.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItemFocused .rtbWrap
{
	border: 1px solid #c91c2b;
	padding: 0 2px 0 34px;
	background: #ffabb2;
	color: #87141e;
}

.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup .rtbItemFocused .rtbWrap
{
	padding: 0 34px 0 2px;
}

.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItemHovered .rtbIcon,
.RadToolBarDropDown_Ayuntamiento .rtbGroup .rtbItemFocused .rtbIcon
{
	left: 4px;
	top: 1px;
}

.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup .rtbItemHovered .rtbIcon,
.RadToolBarDropDown_Ayuntamiento_rtl .rtbGroup .rtbItemFocused .rtbIcon
{
	left: auto;
	right: 4px;
}

.RadToolBarDropDown_Ayuntamiento .rtbDisabled .rtbWrap
{
	color: #999999;
}

.RadToolBarDropDown_Ayuntamiento .rtbSeparator
{
	border-color: #949494;
	background: #f7f7f7;
}

/* </drop-down> */

/* </RadToolBar / Default> */
