
#contenedor-general {
min-height: 100%;
height: auto !importante;
height: 100%;
}
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #d6d6d6;
	}

	body
	{
		background-color: #e8e8e8;
		background-image: url('images/bg2.png');
	}

	a
	{
		color: #00e9ec;
	}

	strong, b
	{
		font-weight: 700;
		color: #FFFFFF;
	}

	h2,h3,h4,h5,h6
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		color: #1b252a;
	}

	h2 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
		color: inherit;
	}
	
	.byline
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		display: block;
		margin-top: 1em;
		color: #c30000;
	}
	
	header
	{
		margin: 0 0 2em 0;
	}
	
	blockquote
	{
		border-left: solid 5px #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: 100%;
	}
	
	table.style1
	{
	}
	
		table.style1 tbody tr:nth-child(2n+2)
		{
			background: #f4f4f4;
		}
		
		table.style1 td
		{
			padding: 0.5em 1em 0.5em 1em;
		}
		
		table.style1 th
		{
			text-align: left;
			font-weight: 700;
			padding: 0.75em 1em 0.75em 1em;
		}
	
		table.style1 thead
		{
			border-bottom: solid 1px #ddd;
		}
		
		table.style1 tfoot
		{
			border-top: solid 1px #ddd;
			background: #eee;
		}
		
		table.style1 tbody
		{
		}

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			border-radius: 0.4em;
			-webkit-appearance: none;
			border: solid 1px #ddd;
			padding: 0.5em;
			width: 100%;
		}

		form input:focus,
		form textarea:focus
		{
			box-shadow: 0px 0px 2px 2px #c94663;
		}

		form ::-webkit-input-placeholder
		{
			color: #aaa;
		}

		form :-moz-placeholder
		{
			color: #aaa;
		}

		form ::-moz-placeholder
		{
			color: #aaa;
		}

		form :-ms-input-placeholder
		{
			color: #aaa;
		}
		
	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section > .inner > :last-child,
	article > .inner > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		
	#content
	{
		position: relative;
		background-color: #00000;
	}
	
		#content:after
		{
			content: '';
			display: block;
			position: absolute;

			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('images/bg2.png');
			opacity: 0.5;
		}
	
	#content-inner
	{
		position: relative;
		z-index: 1;
	}


/*********************************************************************************/
/* Footer                                                                       */
/*********************************************************************************/

#footer {
width: 80%;
text-align:center;
background: #541011;
font-size: 13pt;
position: absolute;
bottom: 0 !importante;
bottom: -1px;
height: 40px;
}