.RadPanelBar_Hipocrates
{
	background: #707070;
}

.RadPanelBar_Hipocrates .rpRootGroup
{
	border-color: #4a4a4a;
}

.RadPanelBar_Hipocrates a.rpLink,
.RadPanelBar_Hipocrates div.rpHeaderTemplate,
.RadPanelBar_Hipocrates .rpTemplate
{
	color: #ffffff;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Hipocrates div.rpHeaderTemplate,
.RadPanelBar_Hipocrates a.rpLink
{
	background-color: #707070;
	background-image: url('PanelBar/RootItemBg.png');
	border-color: #6a6b69;
}

.RadPanelBar_Hipocrates .rpOut
{
	border-color: #707070;
}

.RadPanelBar_Hipocrates a.rpLink:hover
{
	color: #ffffff;
	background-color: #afff5e;
	border-color: #707070;
}

.RadPanelBar_Hipocrates a.rpFocused,
.RadPanelBar_Hipocrates a.rpExpanded,
.RadPanelBar_Hipocrates a.rpSelected,
.RadPanelBar_Hipocrates div.rpFocused,
.RadPanelBar_Hipocrates div.rpExpanded,
.RadPanelBar_Hipocrates div.rpSelected,
.RadPanelBar_Hipocrates a.rpSelected:hover
{
	background-color: #4a4a4a;
	border-color: #707070;
}

/* <disabled items> */
.RadPanelBar_Hipocrates a.rpDisabled,
.RadPanelBar_Hipocrates div.rpDisabled,
.RadPanelBar_Hipocrates a.rpDisabled:hover
{
	color: #bababa;
}

.RadPanelBar_Hipocrates a.rpDisabled:hover .rpOut
{
	border-color: #f2fce8;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_Hipocrates .rpGroup
{
	background-color: #707070;
}

.RadPanelBar_Hipocrates .rpGroup a.rpLink,
.RadPanelBar_Hipocrates .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Hipocrates .rpGroup .rpTemplate
{
	color: #ffffff;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_Hipocrates .rpGroup a.rpLink:hover,
.RadPanelBar_Hipocrates .rpGroup a.rpSelected
{
	color: #000000;
}

.RadPanelBar_Hipocrates .rpGroup a.rpLink,
.RadPanelBar_Hipocrates .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}

.RadPanelBar_Hipocrates .rpGroup a.rpLink:hover
{
    background-color: transparent;
}

/* <subitems (disabled)> */
.RadPanelBar_Hipocrates ul.rpGroup .rpDisabled,
.RadPanelBar_Hipocrates .rpGroup a.rpDisabled:hover,
.RadPanelBar_Hipocrates .rpGroup a.rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_Hipocrates ul.rpGroup .rpDisabled,
.RadPanelBar_Hipocrates .rpGroup a.rpDisabled:hover
{
	color: #bababa;
	text-decoration: none;
	/*background-color: #ffffff;*/
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_Hipocrates a.rpFocused,
.RadPanelBar_Hipocrates div.rpFocused,
.RadPanelBar_Hipocrates a.rpLink:hover,
.RadPanelBar_Hipocrates a.rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Hipocrates a.rpLink,
.RadPanelBar_Hipocrates div.rpHeaderTemplate,
.RadPanelBar_Hipocrates a.rpExpanded,
.RadPanelBar_Hipocrates div.rpExpanded,
.RadPanelBar_Hipocrates .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_Hipocrates a.rpSelected,
.RadPanelBar_Hipocrates div.rpSelected,
.RadPanelBar_Hipocrates a.rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Hipocrates .rpFirst a.rpLink,
.RadPanelBar_Hipocrates .rpFirst div.rpHeaderTemplate,
.RadPanelBar_Hipocrates li.rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Hipocrates li.rpFirst .rpFocused,
.RadPanelBar_Hipocrates .rpFirst a.rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Hipocrates li.rpFirst .rpSelected,
.RadPanelBar_Hipocrates .rpFirst a.rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Hipocrates a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Hipocrates a.rpDisabled,
.RadPanelBar_Hipocrates div.rpDisabled,
.RadPanelBar_Hipocrates a.rpDisabled:hover,
.RadPanelBar_Hipocrates a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_Hipocrates .rpExpandable span.rpExpandHandle,
.RadPanelBar_Hipocrates .rpExpanded span.rpExpandHandle
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
}

.RadPanelBar_Hipocrates_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Hipocrates .rpExpandable span.rpExpandHandle,
.RadPanelBar_Hipocrates a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_Hipocrates a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Hipocrates a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_Hipocrates .rpExpanded span.rpExpandHandle,
.RadPanelBar_Hipocrates a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_Hipocrates a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Hipocrates a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_Hipocrates div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_Hipocrates div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

/*      </expand arrows> */

.RadPanelBar_Hipocrates .rpGroup a.rpLink,
.RadPanelBar_Hipocrates .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Hipocrates .rpGroup a.rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Hipocrates .rpGroup a.rpLink:hover,
.RadPanelBar_Hipocrates ul.rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Hipocrates .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_Hipocrates .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Hipocrates ul.rpGroup .rpSelected,
.RadPanelBar_Hipocrates .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Hipocrates .rpGroup a.rpSelected .rpOut,
.RadPanelBar_Hipocrates .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Hipocrates ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_Hipocrates .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -343px; }
.RadPanelBar_Hipocrates .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Hipocrates .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -343px; }
.RadPanelBar_Hipocrates ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_Hipocrates .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -482px; }
.RadPanelBar_Hipocrates .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Hipocrates .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -482px; }

.RadPanelBar_Hipocrates .rpGroup div.rpExpandable .rpExpandHandleHovered { background-position: 0 -343px; }
.RadPanelBar_Hipocrates .rpGroup div.rpExpanded .rpExpandHandleHovered { background-position: 0 -482px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */
